{% extends "template.html" %}
{% block title %} Pomembne številke | {{super()}}{% endblock %}
{% block body %}
    <body id="mainBG">
        {% block content %}
       <div class="topnav" id="myTopnav">
       <div class="logo">
            <a href="/">ALSkupnost</a>
        </div>
          <a href="/">Vnosi</a>
          <a href="/uspesnost/">Uspešnost</a>
          <a href="/o_als">O ALS</a>
          <a href="/stevilke">Pomembne številke</a>
          {% if session['logged_in'] %}
          <a href="/odjava" id="login">Odjava</a>
          <a href="#" id="login" class="btn disabled">{{session["username"]}}, pozdravljeni!</a>
           {% else %}
           <a href="/prijava" id="login">Prijava / Registracija</a>
           {% endif %}
          <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
        </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12" style="text-align: center;">
                        <h1>Pomembne številke</h1>
                    </div>
                </div>
                <div class="row" style="text-align: center; margin-top: 50px;">
                    <div class="col-xs-6">
                        <img class="img-responsive" src="http://i.imgur.com/zJhl7iK.png" alt="UKC" style="width: 300px; margin: 0 auto;">
                    </div>
                    <div class="col-xs-6">
                        <img class="img-responsive" src="http://www.pgd-cerklje.si/img/ostalo/112_cerklje.png" alt="112" style="width: 300px; margin: 0 auto;">
                    </div>
                </div>
            </div>
    {% endblock%}
</body>
{% endblock%}