{% extends "template.html" %}
{% block title %} Vpis nove izkušnje | {{super()}}{% endblock %}
{% block body %}
    <body id="mainBG">
        {% block content %}
       <div class="topnav" id="myTopnav">
       <div class="logo">
            <a href="/">ALSkupnost</a>
        </div>
          <a href="/">Vnosi</a>
          <a href="/uspesnost/">Uspešnost</a>
          <a href="/o_als">O ALS</a>
          <a href="/stevilke">Pomembne številke</a>
          {% if session['logged_in'] %}
          <a href="/odjava" id="login">Odjava</a>
          <a href="#" id="login" class="btn disabled">{{session["username"]}}, pozdravljeni!</a>
           {% else %}
           <a href="/prijava" id="login">Prijava / Registracija</a>
           {% endif %}
          <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
        </div>

            <div class="container">
                {% for message in get_flashed_messages() %}
                    <div class="alert alert-danger">{{ message }}</div>
                {% endfor %}
                <h3>Vpis nove izkušnje</h3>
                <p class="pull-right">Polja označena z * so obvezna</p>
                <form action="{{ url_for('new_entry') }}" method="post">
                    <div class="form-group">
                        <label>Naslov izkušnje *</label>
                        <input name="naslov" class="form-control" type="text" placeholder="Vnesite kratek naslov naše izkušnje">
                    </div>
                    <div class="form-group">
                        <label>Opis izkušnje *</label>
                        <textarea name="opis" class="form-control" rows="6" placeholder="Vnesite celoten opis vaše izkušnje"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Opažene spremembe *</label>
                        <textarea name="spremembe" class="form-control" rows="4" placeholder="Vnesite spremembe, ki ste jih opazili med izkušnjo"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Kategorija *</label>
                        <select name="kategorija" class="form-control" width="100px">
                            <option value="Prehrana">Prehrana</option>
                            <option value="Fizična aktivnost">Fizična aktivnost</option>
                            <option value="Uporaba pripomočkov">Uporaba pripomočkov</option>
                            <option value="Terapija">Terapija</option>
                            <option value="Zdravila">Zdravila</option>
                            <option value="Drugo">Drugo</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Mesečni stroški *</label>
                        <select name="stroski" class="form-control" width="100px">
                            <option value="Ni stroškov">Ni stroškov</option>
                            <option value="10 - 50 €">10 - 50 €</option>
                            <option value="50 - 100 €">50 - 100 €</option>
                            <option value="100 - 500 €">100 - 500 €</option>
                            <option value="500 - 1000 €">500 - 1000 €</option>
                            <option value="Več kot 1000 €">Več kot 1000 €</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Ali ste za izkušnjo imeli podporo oziroma odobritev medicine? *</label>
                        <select name="odobritev" class="form-control" width="100px">
                            <option value="Da">Da</option>
                            <option value="Ne">Ne</option>
                            <option value="Ne vem">Ne vem</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Kako se vam zdi, da je izkušnja vplivala na počutje bolnika? *</label>
                        <select name="vpliv" class="form-control" width="100px">
                            <option value="Zelo negativno">Zelo negativno</option>
                            <option value="Negativno">Negativno</option>
                            <option value="Niti negativno niti pozitivno">Niti negativno niti pozitivno</option>
                            <option value="Pozitivno">Pozitivno</option>
                            <option value="Zelo pozitivno">Zelo pozitivno</option>
                        </select>
                    </div>
                    <br><br>
                    <div class="form-group">
                        <label>Spol bolnika</label>
                        <select name="spol" class="form-control" width="100px">
                            <option value="Moški">Moški</option>
                            <option value="Ženski">Ženski</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Starost bolnika</label>
                        <input name="starost" class="form-control" type="number" min="1" max="120" placeholder="Vnesite starost bolnika">
                    </div>
                    
                    <input class="btn btn-primary btn-block" type="submit" value="Dodaj izkušnjo" style="margin: 30px 0 50px 0;">
                </form>
            </div>
    {% endblock%}
</body>
{% endblock%}